body{
    background-color: #193154;
}

nav{

   background-color: #25487b; 
   display: flex;
   align-items: center;
}

#logo_hardset{
    height: 75px;
    margin: 10px;
}

.login{
    width: 100px;
    height: 20px;
    margin: 5px;
}

#main_live{
    display: flex;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    
}